In [1]:
import os
import pandas as pd

#df1 will read Trip Data from August 2018 till January 2020
#df2 will pull trip data from February 2020 till January 2021
#df3 will pull Louisville weather data from August 2018 - January 2021
df1 = pd.read_csv(r'C:\Users\abhiram.muktineni\Desktop\DS\DS Career Track docs\Free Data Sets\City of Louisville - escooter data\Data Files\DocklessTripOpenData_10.csv')
df2 = pd.read_csv(r'C:\Users\abhiram.muktineni\Desktop\DS\DS Career Track docs\Free Data Sets\City of Louisville - escooter data\Data Files\fuzzed-trips.csv')
df3 = pd.read_excel(r'C:\Users\abhiram.muktineni\Desktop\DS\DS Career Track docs\Free Data Sets\City of Louisville - escooter data\City_of_Louisville_ Weather_data.xlsx')

print(df1.head())

                             TripID   StartDate StartTime     EndDate EndTime  \
0  0000045c-2677-3a7d-4b73-cad99a57  2019-06-26     19:30  2019-06-26   19:30
1  0000487b-92e6-50d6-7569-42ed3818  2019-09-22     14:30  2019-09-22   14:30
2  00006088-2579-e0d0-6a30-a15bb878  2019-08-21     17:30  2019-08-21   17:30
3  00008c1a-899b-8596-970f-9f6bf495  2019-07-03     11:00  2019-07-03   11:15
4  00009301-3225-2aea-a84a-165a480a  2019-11-22     10:45  2019-11-22   11:00

   TripDuration  TripDistance  StartLatitude  StartLongitude  EndLatitude  \
0           3.0         0.000         38.253         -85.756       38.253
1           5.0         0.000         38.203         -85.752       38.204
2           6.0         0.330         38.259         -85.733       38.265
3           6.0         0.640         38.217         -85.757       38.221
4           7.0         0.599         38.215         -85.759       38.222

   EndLongitude  DayOfWeek  HourNum
0       -85.755          4       19
1       -85.751          1       14
2       -85.739          4       17
3       -85.763          4       11
4       -85.764          6       10

In [2]:
print(df3.head()) #ºF

         Day  High   Low Precip.  Snow  Unnamed: 5  Unnamed: 6
0        NaT    ºF    ºF    inch  inch         NaN         NaN
1 2018-08-01    82    70    0.94     0         NaN         NaN
2 2018-08-02    84    70       0     0         NaN         NaN
3 2018-08-03  89.1  69.1       0     0         NaN         NaN
4 2018-08-04    91    72       0     0         NaN         NaN

In [3]:
df3.drop(['Unnamed: 5', 'Unnamed: 6'], axis = 1, inplace=True)
df3.drop(0, axis = 0, inplace=True)
df3.rename(columns={'Day':'Date','High':'HighºF', 'Low':'LowºF', 'Precip.':'Precip.(inch)', 'Snow':'Snow(inch)'}, inplace=True)
#df3.reset_index(inplace=True)
print(df3.head())

        Date HighºF LowºF Precip.(inch) Snow(inch)
1 2018-08-01     82    70          0.94          0
2 2018-08-02     84    70             0          0
3 2018-08-03   89.1  69.1             0          0
4 2018-08-04     91    72             0          0
5 2018-08-05     93    73             0          0

In [4]:
print(df2.head())

                                 TripID                 StartDate  StartTime  \
0  81984511-f6ef-5484-9217-1ad2eaf459fa  2020-02-01T11:00:00.000Z        NaN
1  64d25cd4-d3a0-5b01-9d9b-13e7f5ce3329  2020-02-01T11:00:00.000Z        NaN
2  21a9ff20-081b-5bf7-b9b5-997168cf9a91  2020-02-01T11:00:00.000Z        NaN
3  f8df92a8-44da-5306-944d-e9020e681f47  2020-02-01T11:15:00.000Z        NaN
4  7748f3cc-ddf7-5986-8296-0cc132b6b3b9  2020-02-01T11:15:00.000Z        NaN

                    EndDate  EndTime  TripDuration  TripDistance  \
0  2020-02-01T11:15:00.000Z      NaN             4         0.407
1  2020-02-01T11:00:00.000Z      NaN             0         0.000
2  2020-02-01T11:15:00.000Z      NaN             3         0.303
3  2020-02-01T11:30:00.000Z      NaN            14         0.890
4  2020-02-01T11:15:00.000Z      NaN             5         0.761

   StartLatitude  StartLongitude  EndLatitude  EndLongitude  DayOfWeek  \
0         38.226         -85.769       38.227       -85.769          7
1         38.226         -85.769       38.226       -85.769          7
2         38.226         -85.769       38.227       -85.769          7
3         38.227         -85.769       38.221       -85.763          7
4         38.227         -85.769       38.221       -85.763          7

   HourNum
0        6
1        6
2        6
3        6
4        6

In [5]:
# Concatinating DataFrames df1 & df2 into a single DataFrame
df12 = pd.concat([df1, df2], ignore_index=True)
print(df12.head(-1))

                                      TripID                 StartDate  \
0           0000045c-2677-3a7d-4b73-cad99a57                2019-06-26
1           0000487b-92e6-50d6-7569-42ed3818                2019-09-22
2           00006088-2579-e0d0-6a30-a15bb878                2019-08-21
3           00008c1a-899b-8596-970f-9f6bf495                2019-07-03
4           00009301-3225-2aea-a84a-165a480a                2019-11-22
...                                      ...                       ...
641218  9e1ea446-109f-56c5-963d-e3623c7cd783  2021-01-25T17:00:00.000Z
641219  5e1716ec-36c3-58b1-9f95-83f0bd55f960  2021-01-25T17:15:00.000Z
641220  14653452-d524-5ef3-a993-e12de364fa45  2021-01-25T17:15:00.000Z
641221  a35e2aca-9d84-5a6e-90c2-b8bb00b9805a  2021-01-25T17:30:00.000Z
641222  6ee54f38-ed8d-54d0-acdb-1b42365e3d07  2021-01-25T17:30:00.000Z

       StartTime                   EndDate EndTime  TripDuration  \
0          19:30                2019-06-26   19:30           3.0
1          14:30                2019-09-22   14:30           5.0
2          17:30                2019-08-21   17:30           6.0
3          11:00                2019-07-03   11:15           6.0
4          10:45                2019-11-22   11:00           7.0
...          ...                       ...     ...           ...
641218       NaN  2021-01-25T17:00:00.000Z     NaN           2.0
641219       NaN  2021-01-25T17:15:00.000Z     NaN           6.0
641220       NaN  2021-01-25T17:15:00.000Z     NaN           6.0
641221       NaN  2021-01-25T17:45:00.000Z     NaN           5.0
641222       NaN  2021-01-25T17:45:00.000Z     NaN           4.0

        TripDistance  StartLatitude  StartLongitude  EndLatitude  \
0              0.000         38.253         -85.756       38.253
1              0.000         38.203         -85.752       38.204
2              0.330         38.259         -85.733       38.265
3              0.640         38.217         -85.757       38.221
4              0.599         38.215         -85.759       38.222
...              ...            ...             ...          ...
641218         0.348         38.217         -85.757       38.215
641219         1.065         38.208         -85.754       38.217
641220         1.137         38.208         -85.754       38.217
641221         0.888         38.217         -85.757       38.227
641222         0.561         38.217         -85.762       38.217

        EndLongitude  DayOfWeek  HourNum
0            -85.755          4       19
1            -85.751          1       14
2            -85.739          4       17
3            -85.763          4       11
4            -85.764          6       10
...              ...        ...      ...
641218       -85.759          2       11
641219       -85.762          2       12
641220       -85.762          2       12
641221       -85.758          2       12
641222       -85.756          2       12

[641223 rows x 13 columns]

In [30]:
#Checking if there are any NULL or NaN values in the dataframe containing weather data
# filtering data
# displaying data only with Date = NaN
df3[pd.isnull(df3['Date'])]

Empty DataFrame
Columns: [Date, HighºF, LowºF, Precip.(inch), Snow(inch)]
Index: []

In [31]:
# displaying data only with HighºF = NaN
df3[pd.isnull(df3['HighºF'])]

          Date HighºF LowºF Precip.(inch) Snow(inch)
153 2018-12-31    NaN   NaN           NaN        NaN
514 2019-12-27    NaN   NaN           NaN        NaN
515 2019-12-28    NaN   NaN           NaN        NaN
516 2019-12-29    NaN   NaN           NaN        NaN
517 2019-12-30    NaN   NaN           NaN        NaN
518 2019-12-31    NaN   NaN           NaN        NaN

In [32]:
# displaying data only with HighºF = NaN
df3[pd.isnull(df3['LowºF'])]

          Date HighºF LowºF Precip.(inch) Snow(inch)
153 2018-12-31    NaN   NaN           NaN        NaN
514 2019-12-27    NaN   NaN           NaN        NaN
515 2019-12-28    NaN   NaN           NaN        NaN
516 2019-12-29    NaN   NaN           NaN        NaN
517 2019-12-30    NaN   NaN           NaN        NaN
518 2019-12-31    NaN   NaN           NaN        NaN

In [33]:
# displaying data only with HighºF = NaN
df3[pd.isnull(df3['Precip.(inch)'])]

          Date HighºF LowºF Precip.(inch) Snow(inch)
153 2018-12-31    NaN   NaN           NaN        NaN
514 2019-12-27    NaN   NaN           NaN        NaN
515 2019-12-28    NaN   NaN           NaN        NaN
516 2019-12-29    NaN   NaN           NaN        NaN
517 2019-12-30    NaN   NaN           NaN        NaN
518 2019-12-31    NaN   NaN           NaN        NaN

In [34]:
# displaying data only with HighºF = NaN
df3[pd.isnull(df3['Snow(inch)'])]

          Date HighºF LowºF Precip.(inch) Snow(inch)
153 2018-12-31    NaN   NaN           NaN        NaN
514 2019-12-27    NaN   NaN           NaN        NaN
515 2019-12-28    NaN   NaN           NaN        NaN
516 2019-12-29    NaN   NaN           NaN        NaN
517 2019-12-30    NaN   NaN           NaN        NaN
518 2019-12-31    NaN   NaN           NaN        NaN

In [45]:
df3.loc[153] = ['2018-12-31', 65, 44, 0.39, 0]
df3.loc[514] = ['2019-12-27', 63, 54, 0, 0]
df3.loc[515] = ['2019-12-28', 63, 53, 0, 0]
df3.loc[516] = ['2019-12-29', 65, 56, 0.14, 0]
df3.loc[517] = ['2019-12-30', 57, 39, 1.42, 0]
df3.loc[518] = ['2019-12-31', 40, 38, 0, 0]

In [46]:
df3.loc[153]

Date             2018-12-31
HighºF                   65
LowºF                    44
Precip.(inch)          0.39
Snow(inch)                0
Name: 153, dtype: object

In [47]:
df3.loc[514]

Date             2019-12-27
HighºF                   63
LowºF                    54
Precip.(inch)             0
Snow(inch)                0
Name: 514, dtype: object

In [48]:
df3.loc[515]

Date             2019-12-28
HighºF                   63
LowºF                    53
Precip.(inch)             0
Snow(inch)                0
Name: 515, dtype: object

In [49]:
df3.loc[516]

Date             2019-12-29
HighºF                   65
LowºF                    56
Precip.(inch)          0.14
Snow(inch)                0
Name: 516, dtype: object

In [50]:
df3.loc[517]

Date             2019-12-30
HighºF                   57
LowºF                    39
Precip.(inch)          1.42
Snow(inch)                0
Name: 517, dtype: object

In [51]:
df3.loc[518]

Date             2019-12-31
HighºF                   40
LowºF                    38
Precip.(inch)             0
Snow(inch)                0
Name: 518, dtype: object