In [59]:
import os
import pandas as pd

#df1 will read Trip Data from August 2018 till January 2020
#df2 will pull trip data from February 2020 till January 2021
#df3 will pull Louisville weather data from August 2018 - January 2021
df1 = pd.read_csv(r'C:\Users\abhiram.muktineni\Desktop\DS\DS Career Track docs\Free Data Sets\City of Louisville - escooter data\Data Files\DocklessTripOpenData_10.csv')
df2 = pd.read_csv(r'C:\Users\abhiram.muktineni\Desktop\DS\DS Career Track docs\Free Data Sets\City of Louisville - escooter data\Data Files\fuzzed-trips.csv')
df3 = pd.read_excel(r'C:\Users\abhiram.muktineni\Desktop\DS\DS Career Track docs\Free Data Sets\City of Louisville - escooter data\City_of_Louisville_ Weather_data.xlsx')

print(df1.head())

                             TripID   StartDate StartTime     EndDate EndTime  \
0  0000045c-2677-3a7d-4b73-cad99a57  2019-06-26     19:30  2019-06-26   19:30
1  0000487b-92e6-50d6-7569-42ed3818  2019-09-22     14:30  2019-09-22   14:30
2  00006088-2579-e0d0-6a30-a15bb878  2019-08-21     17:30  2019-08-21   17:30
3  00008c1a-899b-8596-970f-9f6bf495  2019-07-03     11:00  2019-07-03   11:15
4  00009301-3225-2aea-a84a-165a480a  2019-11-22     10:45  2019-11-22   11:00

   TripDuration  TripDistance  StartLatitude  StartLongitude  EndLatitude  \
0           3.0         0.000         38.253         -85.756       38.253
1           5.0         0.000         38.203         -85.752       38.204
2           6.0         0.330         38.259         -85.733       38.265
3           6.0         0.640         38.217         -85.757       38.221
4           7.0         0.599         38.215         -85.759       38.222

   EndLongitude  DayOfWeek  HourNum
0       -85.755          4       19
1       -85.751          1       14
2       -85.739          4       17
3       -85.763          4       11
4       -85.764          6       10

In [60]:
print(df3.head()) #ºF

         Day  High   Low Precip.  Snow  Unnamed: 5  Unnamed: 6
0        NaT    ºF    ºF    inch  inch         NaN         NaN
1 2018-08-01    82    70    0.94     0         NaN         NaN
2 2018-08-02    84    70       0     0         NaN         NaN
3 2018-08-03  89.1  69.1       0     0         NaN         NaN
4 2018-08-04    91    72       0     0         NaN         NaN

In [61]:
df3.drop(['Unnamed: 5', 'Unnamed: 6'], axis = 1, inplace=True)
df3.drop(0, axis = 0, inplace=True)
df3.rename(columns={'Day':'Date','High':'HighºF', 'Low':'LowºF', 'Precip.':'Precip.(inch)', 'Snow':'Snow(inch)'}, inplace=True)
#df3.reset_index(inplace=True)
print(df3.head())

        Date HighºF LowºF Precip.(inch) Snow(inch)
1 2018-08-01     82    70          0.94          0
2 2018-08-02     84    70             0          0
3 2018-08-03   89.1  69.1             0          0
4 2018-08-04     91    72             0          0
5 2018-08-05     93    73             0          0

In [62]:
print(df2.head())

                                 TripID                 StartDate  StartTime  \
0  81984511-f6ef-5484-9217-1ad2eaf459fa  2020-02-01T11:00:00.000Z        NaN
1  64d25cd4-d3a0-5b01-9d9b-13e7f5ce3329  2020-02-01T11:00:00.000Z        NaN
2  21a9ff20-081b-5bf7-b9b5-997168cf9a91  2020-02-01T11:00:00.000Z        NaN
3  f8df92a8-44da-5306-944d-e9020e681f47  2020-02-01T11:15:00.000Z        NaN
4  7748f3cc-ddf7-5986-8296-0cc132b6b3b9  2020-02-01T11:15:00.000Z        NaN

                    EndDate  EndTime  TripDuration  TripDistance  \
0  2020-02-01T11:15:00.000Z      NaN             4         0.407
1  2020-02-01T11:00:00.000Z      NaN             0         0.000
2  2020-02-01T11:15:00.000Z      NaN             3         0.303
3  2020-02-01T11:30:00.000Z      NaN            14         0.890
4  2020-02-01T11:15:00.000Z      NaN             5         0.761

   StartLatitude  StartLongitude  EndLatitude  EndLongitude  DayOfWeek  \
0         38.226         -85.769       38.227       -85.769          7
1         38.226         -85.769       38.226       -85.769          7
2         38.226         -85.769       38.227       -85.769          7
3         38.227         -85.769       38.221       -85.763          7
4         38.227         -85.769       38.221       -85.763          7

   HourNum
0        6
1        6
2        6
3        6
4        6

If you observe carefully the format of data in **StartDate** & **EndDate** columns in both **df1** & **df2** DataFrames are different. **df1** has its date format as **'YYYY-MM-DD'**, whereas **df2** has its date format as **'YYYY-MM-DD'T'HH:mm:ss.SSS'Z''**. We need to make changes to **StartDate** & **StartDate** columns in the **df2** DataFrame to reflecct the same format as that of in **df1** DataFrame.

In [63]:
#type(df2['StartDate'])
df2['StartDate'] = pd.to_datetime(df2['StartDate'])
df2['EndDate'] = pd.to_datetime(df2['EndDate'])
df2['StartDate'] = df2['StartDate'].dt.strftime('%Y-%m-%d')
df2['EndDate'] = df2['EndDate'].dt.strftime('%Y-%m-%d')
df2.head()

,TripID,StartDate,StartTime,EndDate,EndTime,TripDuration,TripDistance,StartLatitude,StartLongitude,EndLatitude,EndLongitude,DayOfWeek,HourNum
0,81984511-f6ef-5484-9217-1ad2eaf459fa,2020-02-01,NaN,2020-02-01,NaN,4,0.407,38.226,-85.769,38.227,-85.769,7,6
1,64d25cd4-d3a0-5b01-9d9b-13e7f5ce3329,2020-02-01,NaN,2020-02-01,NaN,0,0.000,38.226,-85.769,38.226,-85.769,7,6
2,21a9ff20-081b-5bf7-b9b5-997168cf9a91,2020-02-01,NaN,2020-02-01,NaN,3,0.303,38.226,-85.769,38.227,-85.769,7,6
3,f8df92a8-44da-5306-944d-e9020e681f47,2020-02-01,NaN,2020-02-01,NaN,14,0.890,38.227,-85.769,38.221,-85.763,7,6
4,7748f3cc-ddf7-5986-8296-0cc132b6b3b9,2020-02-01,NaN,2020-02-01,NaN,5,0.761,38.227,-85.769,38.221,-85.763,7,6

In [64]:
# Concatinating DataFrames df1 & df2 into a single DataFrame
df12 = pd.concat([df1, df2], ignore_index=True)
print(df12.head(-1))

                                      TripID   StartDate StartTime  \
0           0000045c-2677-3a7d-4b73-cad99a57  2019-06-26     19:30
1           0000487b-92e6-50d6-7569-42ed3818  2019-09-22     14:30
2           00006088-2579-e0d0-6a30-a15bb878  2019-08-21     17:30
3           00008c1a-899b-8596-970f-9f6bf495  2019-07-03     11:00
4           00009301-3225-2aea-a84a-165a480a  2019-11-22     10:45
...                                      ...         ...       ...
641218  9e1ea446-109f-56c5-963d-e3623c7cd783  2021-01-25       NaN
641219  5e1716ec-36c3-58b1-9f95-83f0bd55f960  2021-01-25       NaN
641220  14653452-d524-5ef3-a993-e12de364fa45  2021-01-25       NaN
641221  a35e2aca-9d84-5a6e-90c2-b8bb00b9805a  2021-01-25       NaN
641222  6ee54f38-ed8d-54d0-acdb-1b42365e3d07  2021-01-25       NaN

           EndDate EndTime  TripDuration  TripDistance  StartLatitude  \
0       2019-06-26   19:30           3.0         0.000         38.253
1       2019-09-22   14:30           5.0         0.000         38.203
2       2019-08-21   17:30           6.0         0.330         38.259
3       2019-07-03   11:15           6.0         0.640         38.217
4       2019-11-22   11:00           7.0         0.599         38.215
...            ...     ...           ...           ...            ...
641218  2021-01-25     NaN           2.0         0.348         38.217
641219  2021-01-25     NaN           6.0         1.065         38.208
641220  2021-01-25     NaN           6.0         1.137         38.208
641221  2021-01-25     NaN           5.0         0.888         38.217
641222  2021-01-25     NaN           4.0         0.561         38.217

        StartLongitude  EndLatitude  EndLongitude  DayOfWeek  HourNum
0              -85.756       38.253       -85.755          4       19
1              -85.752       38.204       -85.751          1       14
2              -85.733       38.265       -85.739          4       17
3              -85.757       38.221       -85.763          4       11
4              -85.759       38.222       -85.764          6       10
...                ...          ...           ...        ...      ...
641218         -85.757       38.215       -85.759          2       11
641219         -85.754       38.217       -85.762          2       12
641220         -85.754       38.217       -85.762          2       12
641221         -85.757       38.227       -85.758          2       12
641222         -85.762       38.217       -85.756          2       12

[641223 rows x 13 columns]

In [65]:
#Checking if there are any NULL or NaN values in the dataframe containing weather data
# filtering data
# displaying data only with Date = NaN
df3[pd.isnull(df3['Date'])]

Empty DataFrame
Columns: [Date, HighºF, LowºF, Precip.(inch), Snow(inch)]
Index: []

In [66]:
# displaying data only with HighºF = NaN
df3[pd.isnull(df3['HighºF'])]

          Date HighºF LowºF Precip.(inch) Snow(inch)
153 2018-12-31    NaN   NaN           NaN        NaN
514 2019-12-27    NaN   NaN           NaN        NaN
515 2019-12-28    NaN   NaN           NaN        NaN
516 2019-12-29    NaN   NaN           NaN        NaN
517 2019-12-30    NaN   NaN           NaN        NaN
518 2019-12-31    NaN   NaN           NaN        NaN

In [67]:
# displaying data only with LowºF = NaN
df3[pd.isnull(df3['LowºF'])]

          Date HighºF LowºF Precip.(inch) Snow(inch)
153 2018-12-31    NaN   NaN           NaN        NaN
514 2019-12-27    NaN   NaN           NaN        NaN
515 2019-12-28    NaN   NaN           NaN        NaN
516 2019-12-29    NaN   NaN           NaN        NaN
517 2019-12-30    NaN   NaN           NaN        NaN
518 2019-12-31    NaN   NaN           NaN        NaN

In [68]:
# displaying data only with Precip.(inch) = NaN
df3[pd.isnull(df3['Precip.(inch)'])]

          Date HighºF LowºF Precip.(inch) Snow(inch)
153 2018-12-31    NaN   NaN           NaN        NaN
514 2019-12-27    NaN   NaN           NaN        NaN
515 2019-12-28    NaN   NaN           NaN        NaN
516 2019-12-29    NaN   NaN           NaN        NaN
517 2019-12-30    NaN   NaN           NaN        NaN
518 2019-12-31    NaN   NaN           NaN        NaN

In [69]:
# displaying data only with Snow(inch) = NaN
df3[pd.isnull(df3['Snow(inch)'])]

          Date HighºF LowºF Precip.(inch) Snow(inch)
153 2018-12-31    NaN   NaN           NaN        NaN
514 2019-12-27    NaN   NaN           NaN        NaN
515 2019-12-28    NaN   NaN           NaN        NaN
516 2019-12-29    NaN   NaN           NaN        NaN
517 2019-12-30    NaN   NaN           NaN        NaN
518 2019-12-31    NaN   NaN           NaN        NaN

In [70]:
#Replacing NaN values with actual data from another online source consisting of weather data.
df3.loc[153] = ['2018-12-31', 65, 44, 0.39, 0]
df3.loc[514] = ['2019-12-27', 63, 54, 0, 0]
df3.loc[515] = ['2019-12-28', 63, 53, 0, 0]
df3.loc[516] = ['2019-12-29', 65, 56, 0.14, 0]
df3.loc[517] = ['2019-12-30', 57, 39, 1.42, 0]
df3.loc[518] = ['2019-12-31', 40, 38, 0, 0]

In [71]:
df3.loc[153]

Date             2018-12-31
HighºF                   65
LowºF                    44
Precip.(inch)          0.39
Snow(inch)                0
Name: 153, dtype: object

In [72]:
df3.loc[514]

Date             2019-12-27
HighºF                   63
LowºF                    54
Precip.(inch)             0
Snow(inch)                0
Name: 514, dtype: object

In [73]:
df3.loc[515]

Date             2019-12-28
HighºF                   63
LowºF                    53
Precip.(inch)             0
Snow(inch)                0
Name: 515, dtype: object

In [74]:
df3.loc[516]

Date             2019-12-29
HighºF                   65
LowºF                    56
Precip.(inch)          0.14
Snow(inch)                0
Name: 516, dtype: object

In [75]:
df3.loc[517]

Date             2019-12-30
HighºF                   57
LowºF                    39
Precip.(inch)          1.42
Snow(inch)                0
Name: 517, dtype: object

In [76]:
df3.loc[518]

Date             2019-12-31
HighºF                   40
LowºF                    38
Precip.(inch)             0
Snow(inch)                0
Name: 518, dtype: object

In [77]:
#Check if there are any records with NaN values in combined trip data DataFrame df12
#print(df12.isnull().any(axis=1))
print(df12[pd.isnull(df12['StartTime'])])

                                      TripID   StartDate StartTime  \
505993  81984511-f6ef-5484-9217-1ad2eaf459fa  2020-02-01       NaN
505994  64d25cd4-d3a0-5b01-9d9b-13e7f5ce3329  2020-02-01       NaN
505995  21a9ff20-081b-5bf7-b9b5-997168cf9a91  2020-02-01       NaN
505996  f8df92a8-44da-5306-944d-e9020e681f47  2020-02-01       NaN
505997  7748f3cc-ddf7-5986-8296-0cc132b6b3b9  2020-02-01       NaN
...                                      ...         ...       ...
641219  5e1716ec-36c3-58b1-9f95-83f0bd55f960  2021-01-25       NaN
641220  14653452-d524-5ef3-a993-e12de364fa45  2021-01-25       NaN
641221  a35e2aca-9d84-5a6e-90c2-b8bb00b9805a  2021-01-25       NaN
641222  6ee54f38-ed8d-54d0-acdb-1b42365e3d07  2021-01-25       NaN
641223  2ae5538f-95cb-56cf-ba67-e6ffed467652  2021-01-25       NaN

           EndDate EndTime  TripDuration  TripDistance  StartLatitude  \
505993  2020-02-01     NaN           4.0         0.407         38.226
505994  2020-02-01     NaN           0.0         0.000         38.226
505995  2020-02-01     NaN           3.0         0.303         38.226
505996  2020-02-01     NaN          14.0         0.890         38.227
505997  2020-02-01     NaN           5.0         0.761         38.227
...            ...     ...           ...           ...            ...
641219  2021-01-25     NaN           6.0         1.065         38.208
641220  2021-01-25     NaN           6.0         1.137         38.208
641221  2021-01-25     NaN           5.0         0.888         38.217
641222  2021-01-25     NaN           4.0         0.561         38.217
641223  2021-01-25     NaN           4.0         0.520         38.215

        StartLongitude  EndLatitude  EndLongitude  DayOfWeek  HourNum
505993         -85.769       38.227       -85.769          7        6
505994         -85.769       38.226       -85.769          7        6
505995         -85.769       38.227       -85.769          7        6
505996         -85.769       38.221       -85.763          7        6
505997         -85.769       38.221       -85.763          7        6
...                ...          ...           ...        ...      ...
641219         -85.754       38.217       -85.762          2       12
641220         -85.754       38.217       -85.762          2       12
641221         -85.757       38.227       -85.758          2       12
641222         -85.762       38.217       -85.756          2       12
641223         -85.759       38.217       -85.762          2       12

[135231 rows x 13 columns]

There are **135231** records whose **StartTime** & **EndTime** values are equal to **NaN**. Hence, I have decided to drop these columns from the DataFrame **df12** as we already have HourNum column which indicates during which hour the scooter went on a trip.

In [78]:
#Dropping StartTime & EndTime columns from the DataFrame df12
df12.drop(columns =['StartTime', 'EndTime'], inplace=True)

In [79]:
df12.head()
#print(df12[pd.isnull(df12['StartTime'])])

,TripID,StartDate,EndDate,TripDuration,TripDistance,StartLatitude,StartLongitude,EndLatitude,EndLongitude,DayOfWeek,HourNum
0,0000045c-2677-3a7d-4b73-cad99a57,2019-06-26,2019-06-26,3.0,0.000,38.253,-85.756,38.253,-85.755,4,19
1,0000487b-92e6-50d6-7569-42ed3818,2019-09-22,2019-09-22,5.0,0.000,38.203,-85.752,38.204,-85.751,1,14
2,00006088-2579-e0d0-6a30-a15bb878,2019-08-21,2019-08-21,6.0,0.330,38.259,-85.733,38.265,-85.739,4,17
3,00008c1a-899b-8596-970f-9f6bf495,2019-07-03,2019-07-03,6.0,0.640,38.217,-85.757,38.221,-85.763,4,11
4,00009301-3225-2aea-a84a-165a480a,2019-11-22,2019-11-22,7.0,0.599,38.215,-85.759,38.222,-85.764,6,10

In [82]:
#Checking for null values in df12
print(df12[pd.isnull(df12['EndDate'])])

                                  TripID   StartDate EndDate  TripDuration  \
47061   17ea26f9-7df5-3284-8f5b-de66f2ba  2019-07-10     NaN           0.0
142888  4870a08c-7036-677d-067d-dc708f8b  2019-07-10     NaN           0.0
267343  87238031-fa69-f518-5d0d-6e80a181  2019-10-28     NaN           0.0
328402  a5d7e56d-af04-73e4-b0b6-e4b2dca2  2019-07-10     NaN           0.0

        TripDistance  StartLatitude  StartLongitude  EndLatitude  \
47061            0.0         38.225         -85.697        0.000
142888           0.0         38.224         -85.694        0.000
267343           0.0         38.262         -85.736       38.262
328402           0.0         38.224         -85.694        0.000

        EndLongitude  DayOfWeek  HourNum
47061          0.000          4       22
142888         0.000          4       22
267343       -85.736          2       14
328402         0.000          4       22

I have decided to drop the above rows for the following reasons,

1) They have no Trip end date,

2) Their Trip Distance and Duration is set to zero, which means they haven't travelled anywhere,

3) Their Start and End Latitude and Longitude values are ambiguous. Their Start & End valueus should remain the same if they haven't travelled anywhere, but that doesn't seem to be the case.

In [86]:
#Drop the above rows
df12.drop([47061, 142888, 267343, 328402], inplace=True)

In [95]:
print(df12[pd.isnull(df12['HourNum'])])

Empty DataFrame
Columns: [TripID, StartDate, EndDate, TripDuration, TripDistance, StartLatitude, StartLongitude, EndLatitude, EndLongitude, DayOfWeek, HourNum]
Index: []

DataFrame **df12** is ready  to be merged with **df3**

Note: Also check for 'T' values before merging both the DataFrames.